<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/cadastro.css" />
    <link rel="stylesheet" href="../styles/fonts.css" />
    <link rel="stylesheet" href="../styles/media.css" />
    <link rel="shortcut icon" href="../styles/img/favicon (1).ico" type="image/x-icon">
    <title>Cadastro | Disbrava Ford</title>
</head>

<body>
    <header id="header">
        <div class="title">
            <img src="../styles/img/coracao_desbrava.png" alt="">
        </div>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Serviços</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#contact">Suporte</a></li>
            <li><a href="./index.html" class="btn-login">Fazer login</a></li>
        </ul>
    </header>

    <main>
        <!-- Tela de Cadastro -->
        <div class="container">
            <form action="">
                <h2>Tela de Cadastro</h2>
                <input type="text" placeholder="Nome" />
                <input type="text" placeholder="Estado" />
                <input type="text" placeholder="Cidade" />
                <input type="email" placeholder="E-mail" />
                <input type="password" placeholder="Senha" />
                <input class="btn-send" type="submit" value="Send" />
            </form>
        </div>

        <!-- Imagens dos carros (em background) -->
        <div class="img-cars">
            <img class="car car-left" src="../styles/img/Explorer-SUV.png" alt="Carro 1">
            <img class="car car-right" src="../styles/img/ford-GT.png" alt="Carro 2">
        </div>
    </main>




</body>
<script src="../components/scripts.js"></script>

</html>