<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/style.css" />
  <link rel="stylesheet" href="../styles/fonts.css" />
  <link rel="stylesheet" href="../styles/media.css" />
  <link rel="shortcut icon" href="../styles/img/favicon (1).ico" type="image/x-icon">
  <title>Login | Disbrava Ford</title>
</head>

<body>
  <header id="header">
    <div class="title">
      <img src="../styles/img/coracao_desbrava.png" alt="">
    </div>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#services">Serviços</a></li>
      <li><a href="#about">Sobre</a></li>
      <li><a href="#contact">Suporte</a></li>
      <li><a href="./cadastro.html" class="btn-create">Criar conta</a></li>
    </ul>
  </header>

  <main>
    <aside id="slide-aside">
      <div class="h2-box">
        <h2>Bem-vindos a</h2>
        <h2><span>Disbrava Ford!</span></h2>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
        consequuntur voluptas saepe itaque accusantium voluptates aperiam
        illum corporis at unde asperiores animi, beatae numquam eius, quas,
        odit dolor ut excepturi!
      </p>
      <form action="#">
        <input type="email" placeholder="E-mail" />
        <input type="password" placeholder="Senha" />
        <input class="btn-send" type="submit" value="Enviar" />
      </form>
    </aside>


    <article id="slide-article">
      <img src="../styles/img/f-150.png" alt="F-150" />
    </article>
  </main>
</body>
<script src="../components/scripts.js"></script>

</html>



